# Discord Bot Token
DISCORD_TOKEN=
# Discord Client ID
DISCORD_CLIENT_ID=your_bot_client_id
# Discord Client Secret
DISCORD_CLIENT_SECRET=your_oauth_client_secret
# Discord Redirect URI
DISCORD_REDIRECT_URI=http://localhost:50547/auth/callback
# Logging Level
# Optional: Logging level (DEBUG, INFO, WARNING, ERROR, CRITICAL)
# LOG_LEVEL=INFO

# Optional: Bot status/activity (e.g., "Watching over servers", "Playing with events", "Listening to commands")
BOT_STATUS=Watching over servers